<html>
  <head>
      <title>Register</title>
      <link rel="stylesheet" type="text/css" href="/css/register.css">
      
  </head>
<body>
    
    
    <div class="loginbox">
      <div id="login">
    <img src="/assets/avatar.png" class="avatar">
        <h1>Register Here</h1>
        <form @submit="addSomeone">
          <p>Last Name</p>
          <input type="text" v-model="newLastName" placeholder="Enter your last name">
          <p>First Name</p>
            <input type="text" v-model="newFirstName" placeholder="Enter your first name">
            <p>Username</p>
            <input type="text" v-model="newUser" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" v-model="newPassword" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" v-model="newConfirmPassword" placeholder="Enter Password">
            <input type="submit"  value="Register" href="/html/login.html">
          
          <p>
            {{errors}}
          </p>
            
        </form>
      
        </div>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="/js/login.js"></script>
</body>
</html>